* {
    margin: 0;
    padding: 0;
}
.App {

}
form {
    display: flex;
    flex-flow: row ;
    align-items: center;
    justify-content: center;
}
input {

    font-size: 30px;
    margin-top: 10px;
    height: 50px;
    width: 400px;
    border-radius: 6px ;
    border: 1px grey solid;
}
header {
    line-height: 2;
    text-align: center;
    font-size: 30px;

    background: grey;
}
header p {
    color: whitesmoke;
    display: inline-block;
    font-family: 'Pattaya', sans-serif;

}
header a {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.content-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    min-height: 400px;
    background: wheat;
}
.text-content {
    width: 70%;
    height: 70%;
    background: whitesmoke;
}
.img_content{
    margin: 50px;
    background: whitesmoke;
    height: 70%;
    width: 30%;

}
.img_content img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
ul{
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    justify-content: flex-start;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}
.content-main li {
    margin-right: 15px;
    list-style-type: none
}
.no-found {
    margin-top: 20px;
    text-align: center;
}
.text-content p{
    margin-top: 10px;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}